#pagecontainer {
  height: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 600px;
  padding: 16px 0 1em 0;
  width: 868px;
}

.left-sidebar {
  float: left;
  background-color: #f4f4f4;
  width: 20%;
  margin: 0;
  text-align: center;
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
  min-height: 860px;
}

.header-main {
  float: right;
  background-color: #eee;
  width: 62%;
  margin: 0 15.8% 0 0;
  padding: 0;
  position: relative;
  text-align: center;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

.center-column {
  float: left;
  width: 62%;
  margin: 2%;
  padding: 0;
}

.community-column {
  float: left;
  /*background-color: #eee;*/
  width: 33%;
  /*border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;*/
}

.housing-column {
  float: left;
  /*background-color: #eee;*/
  width: 37%;
  /*border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;*/
  padding: 0 4%;
}

.jobs-column {
  float: left;
  /*background-color: #eee;*/
  width: 22%;

}

.right-sidebar {
  float: left;
  width: 11%;
  background-color: #f4f4f4;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  margin-top: -3.75em;
  text-align: center;
  padding: 5px 0;

}

h4 {
  background-color: #eee;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  text-align: center;
}
