<div class="category-header arialize">
  <a href="/" id="CL-logo">CL</a>
</div>

<div class="categories-left-sidebar arialize">
  <h3>{{model.name}}</h3>
  {{new-post-form category=model savePost="savePost" }}
</div>

<div class="posts-column">
  <ul>
  {{#each model.posts as |post|}}
    <li><span class="date-styles">{{post-date post.date_added}}</span>  {{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</li>
  {{/each}}
  </ul>
</div>
