
<div class="wrapper">
  <section id="pagecontainer">
    <div class="header-main">
      <h3>portland, OR</h3>
    </div>

    <div class="left-sidebar">
      <h2>craigslist</h2>
    </div>


    <div class="center-column">
      <div class="community-column">
        <h4>community</h4>
        {{#each model.categories as |category|}}
          
          {{#link-to 'category' category.id}}{{category.name}}{{/link-to}}

        {{/each}}
      </div>
      <div class="housing-column">
        <h4>housing</h4>
      </div>
      <div class="jobs-column">
        <h4>jobs</h4>
      </div>
    </div>

    <div class="right-sidebar">
      <p>language</p>
    </div>
  </section>
</div>
