
<div class="wrapper">
  <section id="pagecontainer">
    <div class="header-main">
      <h3>portland, OR</h3>
    </div>

    <div class="left-sidebar">
      <h2>da list</h2>
      <div class="arialize">
        {{new-category-form saveCategory="saveCategory"}}
      </div>
    </div>

    {{home-page categories=model}}

    <div class="right-sidebar">
      <p>language</p>
    </div>
  </section>
</div>
