<div class="wrapper">

  <div class="header-main">
    <h3>portland, OR</h3>
  </div>

  <div class="left-sidebar">
    <h2>craigslist</h2>
  </div>


  <div class="center-column">
    <div class="community-column">
      <h2>community</h2>
    </div>
    <div class="housing-column">
      <h2>housing</h2>
    </div>
    <div class="jobs-column">
      <h2>jobs</h2>
    </div>
  </div>

  <div class="right-sidebar">
    <h2>language</h2>
  </div>

</div>
