
<div class="wrapper">
  <section id="pagecontainer">
    <div class="header-main">
      <h3>portland, OR</h3>
    </div>

    <div class="left-sidebar">
      <h2>craigslist</h2>
    </div>

    {{home-page categories=model}}

    <div class="right-sidebar">
      <p>language</p>
    </div>
  </section>
</div>
